/* Variables */
:root {
  --main-font: 'Cairo', sans-serif;
  --accent-color: #b00b69;
  --secondary-color: #69b00b;
  --black-color: #000000;
  --white-color: #ffffff;
  --tr-dur: 250ms;
  --tr-func: linear;
}
/* Base Reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: var(--main-font);
}

.link {
  text-decoration: none;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.address {
  font-style: normal;
}

textarea {
  resize: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6 IE7 */
  clip: rect(1px 1px 1px 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* Body Styles */

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.project-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  margin-top: 20px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  font-family: var(--main-font);
  color: var(--white-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: all var(--tr-dur) var(--tr-func);
}

.project-btn:hover,
.project-btn:focus {
  transform: scale(0.9);
  background-color: #910a56;
}

.project-bnt__icon {
  margin-left: 5px;
}

.site-nav {
  margin-top: 15px;
}

.site-nav__item:not(:last-child) {
  margin-bottom: 5px;
}

.site-nav__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: inherit;
  transition: all var(--tr-dur) var(--tr-func);
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: #910a56;
}

.site-nav__link--current {
  color: #910a56;
}

.hero {
  margin-top: 20px;
  border-top: dashed #910a56;
}

.color-picker {
  margin-top: 20px;
  border-top: dashed #910a56;
}
.color-picker__btn {
  margin-top: 20px;
  margin-left: 5px;
  width: 40px;
  height: 40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: var(--main-font);
  color: var(--white-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 400;
  font-size: 8px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: all var(--tr-dur) var(--tr-func);
}

.color-picker__btn:hover {
  filter: brightness(70%);
  transform: scale(0.9);
}
